.wrap-drop{
    width: 40%;
    margin: auto;
    padding: 1%;
}

@media all and (max-width:850px)  {
    .wrap-drop{
        width: 80%;
        margin: auto;
        
    }
}

@media all and (max-width:650px)  {
    .wrap-drop{
        width: 90%;
        margin: auto;
       
    }
}





.number-list { 
    font-size: 25px;
    font-weight: bold;
    color: rgb(252, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  
  .number-item {
    font-size: 25px;
    background-color: white;
    margin: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 1%;
    cursor: grab;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .number-item:active {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    transform: scale(1.1);
    cursor: grabbing;
  }
  
  .number-item:hover {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    transform: scale(1.1);
   
  }
  
  .number-list::after {
    content: "";
    flex: auto;
  }
  
  /* Styles for react-beautiful-dnd */
  .react-beautiful-dnd-drag-handle {
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 5px; */
    cursor: grab;
  }
  
  .react-beautiful-dnd-drag-handle:hover {
    background-color: #e61616;
  }